
@font-face {
  font-family: 'Huiwen Mingchao';
  src: url('https://cdn.ishell.online/Huiwen_mingchao.woff2') format('woff2');
}

body {
  font-family: 'Huiwen Mingchao', Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}
